{% extends "layout.html" %} {% block content %}
<div class="container mt-4">
<h1 class="mb-4">Наші продукти</h1>
<div class="row">     
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img 
                src="{% if product.image %}{{ product.image.url }}{% elif product.image_url %}{{ product.image_url }}{% else %}https://png.pngtree.com/png-vector/20221125/ourmid/pngtree-no-image-available-icon-flatvector-illustration-picture-coming-creative-vector-png-image_40968940.jpg{% endif %}" 
                class="card-img-top" 
                alt="{{ p.name }}"
                >
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="text-success fw-bold">₴{{ product.price }}</p>
                <a href="{% url 'product_details' product.id %}" class="btn btn-primary">Детальніше</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div> 
{% endblock %}