{% extends "layout.html" %} {% block content %}
<div class="container mt-4">
<h1 class="mb-4">Наші продукти</h1>
<div class="row">     
    {% for p in products %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ p.image_url }}" class="card-img-top" alt="{{ p.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="card-text">{{ p.description }}</p>
                <p class="text-success fw-bold">₴{{ p.price }}</p>
                <a href="{% url 'product_details' p.id %}" class="btn btn-primary">Детальніше</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div> 
{% endblock %}